html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: black;
  padding: 20px;
  display: flex;
  height: 40px;
  justify-content: space-between;
}

nav img {
  height: 40px;
}

nav a {
  color: white;
  line-height: 40px;
  padding: 20px;
}

header {
  height: 300px;
  background: url("https://assets.blinkloader.com/3287797048/4219038114_earth-800-R.webp");
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: .5em;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: .5em;
}

h3 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: .2em;
}

p {
  line-height: 1.5;
  font-size: 1em;
}

header p {
  margin-bottom: 2em;
}

.align-right {
  text-align: right;
}

.category {
  font-size: 15px;
  opacity: .5;
}

.tag {
  font-size: 12px;
  background-color: #f1f8ff;
  color: #0366d6;
  border-radius: 3px;
  padding: .3em .9em;
  display: inline-block;
}

.btn {
  padding: 20px;
  border-radius: 3px;
  background-color: red;
  text-align: center;
  display: inline-block;
}

.container {
  width: 990px;
  max-width: 100%;
  padding: 20px;
  margin: auto;
}

.list {
  border: 1px solid #f1f2f3;
  box-shadow: 0 0 26px rgba(0,0,0,.06);
}

.list label {
  height: 100px;
  display: flex;
  align-items: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  border-bottom: solid 1px black;
}

.list label .logo {
  min-width: 60px;
  width: auto;
  max-width: 60px;
  height: auto;
  max-height: 60px;
  margin-right: 1.5em;
}

.list label .block-title {
  width: 300px;
  margin-right: 1.5em;
}
.list label .block-desc {
  width: 600px;
  margin-right: 1.5em;
}
.list label .block-category {
  width: 300px;
}

.list label .category-check {
  margin-bottom: .5em;
}

.list label .check-box {
  width: 17px;
  max-width: 17px;
  height: 17px;
  max-height: 17px;
  margin-left: 5px;
  position: relative;
  top: 3px;
}

article {
  background-color: #F2F0F7;
}

article .presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

article .screenshot {
  max-width: auto;
  height: 200px;
  border-radius: 6px;
  margin-bottom: 2em;
  margin-right : 40px;
  border: 1px solid #000;
}

article p {
  margin-bottom: 2em;
}

article .details {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

article .details div {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}


.list input { display: none; }
.list article { display: none; }
.list input:checked ~ article { display: block; }

.list article { padding: 20px; }